<div>
  <h2 id="page-heading" data-cy="VentaDetalleHeading">
    <span jhiTranslate="supermercadoApp.ventaDetalle.home.title">Venta Detalles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="supermercadoApp.ventaDetalle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-venta-detalle"
        [routerLink]="['/venta-detalle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="supermercadoApp.ventaDetalle.home.createLabel"> Create a new Venta Detalle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ventaDetalles?.length === 0">
    <span jhiTranslate="supermercadoApp.ventaDetalle.home.notFound">No ventaDetalles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ventaDetalles && ventaDetalles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numeroFactura">
            <span jhiTranslate="supermercadoApp.ventaDetalle.numeroFactura">Numero Factura</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombreProducto">
            <span jhiTranslate="supermercadoApp.ventaDetalle.nombreProducto">Nombre Producto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="precioProducto">
            <span jhiTranslate="supermercadoApp.ventaDetalle.precioProducto">Precio Producto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cantidadProducto">
            <span jhiTranslate="supermercadoApp.ventaDetalle.cantidadProducto">Cantidad Producto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalProducto">
            <span jhiTranslate="supermercadoApp.ventaDetalle.totalProducto">Total Producto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="venta.id">
            <span jhiTranslate="supermercadoApp.ventaDetalle.venta">Venta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ventaDetalle of ventaDetalles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/venta-detalle', ventaDetalle.id, 'view']">{{ ventaDetalle.id }}</a>
          </td>
          <td>{{ ventaDetalle.numeroFactura }}</td>
          <td>{{ ventaDetalle.nombreProducto }}</td>
          <td>{{ ventaDetalle.precioProducto }}</td>
          <td>{{ ventaDetalle.cantidadProducto }}</td>
          <td>{{ ventaDetalle.totalProducto }}</td>
          <td>
            <div *ngIf="ventaDetalle.venta">
              <a [routerLink]="['/venta', ventaDetalle.venta?.id, 'view']">{{ ventaDetalle.venta?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/venta-detalle', ventaDetalle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/venta-detalle', ventaDetalle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ventaDetalle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ventaDetalles && ventaDetalles.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
